go 1.24.4

use (
	apps/add-service
	apps/core-service
	apps/div-service
	apps/helloworld
	apps/mul-service
	apps/secret
	apps/storage
	apps/sub-service
	apps/weather
	base
	demos/asynq
	demos/bookstore
	demos/cdc
	demos/grpc
	demos/kit
	demos/nats
	demos/opentelemetry/dice
	demos/raftexample
	demos/sse
	demos/statemachine
	demos/wal
	demos/web-framework
	demos/wire
	demos/kafka/producer
	demos/kafka/consumer
	patterns
)
