go 1.21.5

use (
	apps/add-service
	apps/mul-service
	apps/sub-service
	apps/div-service
	apps/gateway-service

	patterns
	base
	demos/asynq
	demos/raftexample
	demos/statemachine
	demos/kit
    demos/nats
    demos/opentelemetry/dice
    demos/grpc
)
