go 1.23.1

use (
	apps/add-service
	apps/core-service
	apps/div-service
	apps/helloworld
	apps/mul-service
	apps/secret
	apps/storage
	apps/sub-service
	apps/weather
	base
	demos/asynq
	demos/bookstore
	demos/grpc
	demos/kit
	demos/nats
	demos/opentelemetry/dice
	demos/raftexample
	demos/statemachine
	demos/web-framework
	demos/wire

	patterns
	demos/wal
)
