version: "3.5"

services:
  nats:
    image: nats:2.10
    container_name: nats-js
    ports:
      - "4222:4222"   # 客户端端口
      - "8222:8222"   # 监控端口
    command: >
      --jetstream
      --server_name=nats-js
      --http_port=8222
      --store_dir=/data/jetstream
    volumes:
      - ./data:/data
    networks:
      - nats

networks:
  nats:
    name: nats
